name: Generate Stubs

on:
  push:
    paths:
      - 'proto/**'

jobs:
  generate-stubs:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: '1.22.0'

    - name: Install protoc
      run: |
        sudo apt-get update
        sudo apt-get install -y protobuf-compiler

    - name: Install protoc-gen-go
      run: |
        go install google.golang.org/protobuf/cmd/protoc-gen-go

    - name: Install protoc-gen-go-grpc
      run: |
        go get google.golang.org/grpc/cmd/protoc-gen-go-grpc
        go install google.golang.org/grpc/cmd/protoc-gen-go-grpc

    - name: Install protoc-gen-grpc-gateway
      run: |
        go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@latest

    - name: Generate stubs
      run: |
        make generate-stubs

    - uses: stefanzweifel/git-auto-commit-action@v5
